/*
----------------------------------------------------------------
Template : 
---------------------------------------------------------------- 
*/
    /* page */
    @page {
        margin: 0; /* Set margin on each page */
        size: A4 portrait;

        /* simulation of left column background on each page */
        background: linear-gradient(to right, #f5f5f5 0%,#f5f5f5 32%,#ffffff 32%,#ffffff 100%);
    }

    body {
        -webkit-print-color-adjust: exact !important;
        max-width: 210mm;
        min-width: 209mm;
    }

    .page {
        justify-content: flex-end;
        widows: 2;
    }

    /* column size */
    .column-left {
        width: 50%;
        max-height: 100%; /*295mm*/
        overflow: hidden;

        color: #ece8e8;
    }

    .left-section {
        background-color: #1e1e1e; /*#2d3038;*/
    }

    .column-right {
        width: 68%;
    }

    /* section */
    .section {
        padding: 5mm;
        margin-bottom: 5mm;
    }

    /* section heading */
    .section-heading {
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 6px;
    }

/*
----------------------------------------------------------------
Personal Information
---------------------------------------------------------------- 
*/
    .personal-information {
        padding: 5mm;
        height: 296.8mm;
    }

    .personal-information a:link, .personal-information a:visited { color: #565656; }
    .personal-information a:hover { color: #004494; }

    /* picture */
    .personal-picture {
        overflow: hidden;
        width: 55mm;
        height: 55mm;
        margin: 4mm auto;
        border-radius: 100%;
        border: 3mm solid #151515; /* #1d1814 -- #7c7464*/
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    /* personal heading */
    .personal-heading {
        text-align: center;
    }

    /* name : lastname and firstname*/
    .personal-name {
        font-size: 70;
        margin-bottom: 0;
    }

    .personal-firstname {
        display: inline-block;
    }
    .personal-lastname {
        display: inline-block;
        font-weight: 400;
    }

    /* occupation */
    .personal-occupation {
        margin-top: 6mm;
        font-size: 15px;
        font-weight: 700;
    }

    /* details */
    .personal-details {
        line-height: 1.5;
    }

    .personal-details-title {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
    }

    /* item */
    .personal-details-list > li {
        padding-left: 8mm;
    }

    .personal-details-list strong {
        font-weight: 600;
    }

    /* icons */
    .personal-details .icon {
        position: relative;
    }

    .personal-details .icon::before {
        content: '';
        position: absolute;
        left: 0;
        top: 1mm;
        width: 5mm;
        height: 6mm;
        background-repeat: no-repeat;
        background-position: center;
    }

    .personal-profession {
        font-weight: 400; 
        font-size: xxx-large;
    }
    
    .personal-description, .info {
        height: 78mm;
    }
    
    /* title */
    .title {
        margin: 4mm;
        height: 55mm;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /* languages */
    .languages {
        display: table;
        margin: 4mm auto;

    }

    .language-item {
        display: inline-block;
        width: 25mm; 
        text-align: center;
    }

    .english {
        --percent1: -65%; 
        --percent2: 0%;
        margin-right: 4mm;
    }

    .italian {
        --percent1: 300%; 
        --percent2: 0%;
        margin-left: 4mm;
    }
    
    .language-item > span {
        font-size: small;
    }

    .language-item > div {
        font-weight: bold;
        height: 25mm; 
        width: 25mm; 
        border-radius: 50%; 
        border: 2mm transparent solid; 
        
        display: table-cell;
        vertical-align: middle;
        
        background: linear-gradient(#1e1e1e,#1e1e1e) padding-box, 
           radial-gradient(circle at var(--percent1) var(--percent2), #2e3131, 
           #2e3131 60%, #ece8e8 60%, #ece8e8 100%) border-box;
    }

    /* education -- searches */
    .education {
        height: 80mm;
    }

    .education-item, .searches-item {
        display: inline-block; 
        margin: 7px 0; 
    }

    .education-item-years {
        display: inline-block; 
        font-size: x-large; 
        vertical-align: middle;
    }

    .education-item-years > span {
        font-weight: bold;
    }

    .education-item-info, .searches-item-info {
        display: inline-block; 
        vertical-align: middle; 
        margin-left: 10px;
    }

    .education-item-info-title, .searches-item-info-title {
        font-weight: bold;
    }

    .education-item-years, .education-item-icon, .searches-item-icon {
        display: inline-block;
        width: 15mm;
        text-align: center;
    }

    /* info-contact-list */
    .info-item, .contact-item {
        display: block; 
        padding-top: 10px;
    }

    .info-item > div, .contact-item > div {
        display: inline-block;
    }

    .info-item > .mt-1, .contact-item > .mt-1 {
        vertical-align: middle;
        margin: 0;
        margin-left: 10px;
    }

    .info-item svg, .contact-item svg, .education-item svg, .searches-item svg {
        width: 40px;
        height: 40px;
    }

    /* communication */
    .communication {
        height: 55mm;
    }

    /* table */
    .table-row {
        display: table; 
        margin: 4mm auto;
    }

    .table-row > div {
        margin: 1mm;
        width: 80px;
        text-align: center;
    }

    .table-row div {
        display: inline-block; 
    }
    
    .table-row svg, .table-row img {
        height: 60px;
        width: 60px;
    }

    /* skills */
    .skills {
        height: 165mm; 
    }

    .skills img {
        margin: 2.5mm;
        margin-top: 0;
    }
    
    .personal-firstname, 
    .personal-lastname, 
    .personal-details-title, 
    .paragraph-title {
        color: #ddad4a;
    }

    .paragraph-title {
        font-weight: 700;
    }

/*
----------------------------------------------------------------
Additional Classes
---------------------------------------------------------------- 
*/
/*  _____ link break _____ */
.break-word {
    word-break: break-word !important;
    overflow-wrap: break-word;
}