/* buttons */
.theme-buttons {
    height: 140px;
    text-align: center;
}

.theme-buttons div {
    display: inline-block; 
    height: 70px; 
    width: 70px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.theme-buttons svg {
    height: 50px;
    margin: 10px;
}

.theme-buttons div:hover {
    background-color: #444343;
    border-radius: 50%;
    transition: background-color .2s ease-out;
}

/* dark-theme */
.dark-theme {
    background-color: #262626; /* #1e1e1ef5 */
}

.dark-theme, .dark-theme .personal-profession {
    color: #ece8e8;
    transition: background-color .2s ease-out, color .2s ease-out;
}

body {
    transition: background-color .2s ease-out, color .2s ease-out;
}

/* rounded-theme */
.rounded .left-section {
    -webkit-border-radius: 0 50px 50px 0;
    -moz-border-radius: 0 50px 50px 0;
    border-radius: 0 50px 50px 0;
    transition: border-radius .2s ease-out;
}

body .left-section {
    transition: border-radius .2s ease-out;
}
 
@media print {    
    .no-print, .no-print * {
        display: none !important;
    }

    html {
        background-color: white;
    }
}